.supporter-add-suggestion-box1{
    background-color: #E8772599;
}
.supporter-add-suggestion-box2{
    background-color:  #B3D0A1;
}
.supporter-add-suggestion-box3{
    background-color: #D0111180;

}