.legal-professional-edit-profile-border-box{
    border: 3px dashed white;
    border-radius: 50%;
    display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}