.user-payment-card{
    background-color: #D9D9D90D !important;

}
.user-payment-final-payment{
    background-color: #724566 !important;

}
.user-payment-pay{
    background-color: #67A244 !important;

}
