#navbar-linked {
    color: rgba(50, 148, 218, 0.98);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #FCECDE !important;
}

.navbar-brands {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin-left: 10px;
}

.theme-purple {
    color: #59244C !important;
}

.theme-green {
    color: #67A244 !important;
}
