.bg-purple{
    background-color: #59244C !important;
}

  
  .form-label {
    font-weight: bold;
  }
  
  .invalid-feedback {
    display: block;
  }
  .container-spec{
    max-height: 800px !important;
  }

  .supporter-register-scale-img {
    transition: transform 0.3s ease;
    transform: scale(1.1);
}