.user-view-legal-professionals-card {
    width: 18rem;
    display: flex;
    flex-direction: column;
  }
  
  .user-view-legal-professionals-card img {
    width: 100%;
    height: 200px; /* Fixed height for the image */
    object-fit: cover;
  }
  
  .user-view-legal-professionals-card .card-body {
    height: 150px; /* Fixed height for the card body */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  